<div class="container">
    <div class="row bg-success">
        <div class="col-xs-12">
            <h2 class="page-header">Subscriptions list</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>Email</th>
                    <th>City</th>
                    <th>Categories</th>
                    <th>Salary range</th>
                    <th>Details</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in subscriptionsList">
                        <td>{{ item.email }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.categories ? item.categories.join(', ') : '' }}</td>
                        <td>{{ item.salaryRange.from + ' - ' + item.salaryRange.to }}</td>
                        <td>
                            <a class="btn btn-default" href="javascript:void(0)" ng-click="sendNotification(item)"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbspSent notiftcation to subscriber</a>
                            <a class="btn btn-default" href="javascript:void(0)" ng-click="removeSubscription(item)"><i class="fa fa-trash" aria-hidden="true"></i>&nbspRemove subscription</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-30">
        <div class="col-xs-12">
            <button class="btn btn-success btn-block" ng-click="sendNotification2All()">Send notifications to all subscribers</button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 bg-success">
            <h2 class="page-header">Distributed vacancies</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Category</th>
                        <th>Company</th>
                        <th>Title</th>
                        <th>City</th>
                        <th>Salary range</th>
                        <th>Details</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vacancyList">
                            <td>{{ item.category }}</td>
                            <td>{{ item.company }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.city }}</td>
                            <td>{{ item.salary ? item.salary : (item.salaryRange.from + ' - ' + item.salaryRange.to ) }}</td>
                            <td><a class="btn btn-default" href="javascript:void(0)" ng-click="removeVacancy(item)"><i class="fa fa-trash" aria-hidden="true"></i>&nbspRemove</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>