.subscription-container{
  background: #4656ff;
  width: 100%;
}

.category-menu{
  width: 100%;
  padding: 0;
  li{
    padding: 10px;
    cursor: pointer;
    color: #333333;

    &:hover{
      background: #bbb;
    }
    &.active{
      background: #2b72a0;
      color: #fff;
    }
  }
}