.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.header-form-block{
  position: relative;
  height: 550px;

  .bg{
    background: url(/assets/images/bg_main.png) 0px -14px;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .left-side, .right-side{
    position: relative;
    width: 50%;
    min-width: 400px;
    float: left;
    height: 100%;
  }

  .right-side{
    background: rgba(236, 44, 5, 0.31);
  }

  .left-side{
    background: rgba(37, 141, 213, 0.45);
  }
}

@media (min-width: 1329px){
  .main-container {
    width: 1329px;
  }
}

.centered-panel{
  position: absolute;
  color: #fff;
  top: 90px;
  width: 420px;

  &.distribute-panel{
    left: 90px;
  }
  &.subscription-panel{
    right: 90px;
  }

  h2{
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
  }
}

.vh-100{
  height: 100vh;
}

.custom-form{
  .form-control{
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    height: 52px;
    line-height: 50px;
    color: #fff;
    &::-webkit-input-placeholder {color:#fff;}
    &::-moz-placeholder          {color:#fff;}
    &:-moz-placeholder           {color:#fff;}
    &:-ms-input-placeholder      {color:#fff;}
  }

  .input-group-addon, .form-control{
    border: 2px solid rgba(201, 201, 201, 0.25);
  }

  select{
    &.form-control{
      option{
        color: #333;
      }
    }
  }

  .vertical-input-group{
    .input-group{
      .form-control{
        border-left: none;
        padding-left: 0;
        &:focus{
          box-shadow: none;
        }
      }

      .input-group-addon{
        background: none;
        border-right: none;
        .fa{
          font-size: 18px;
          color: #fff;
          width: 26px;
          text-align: right;
        }
      }
    }


    .input-group:first-child:not(:last-child){
      .form-control{
        border-radius: 0 8px 0 0;
        border-left: none;
      }
      .input-group-addon{
        border-radius: 8px 0 0 0;
      }
    }

    .input-group:not(:first-child):not(:last-child){
      .form-control{
        border-radius: 0;
        border-top: none;
      }
      .input-group-addon{
        border-radius: 0;
        border-top: none;
      }
    }

    .input-group:last-child:not(:first-child){
      .form-control{
        border-top: none;
        border-radius: 0 0 4px 4px;
      }
      .input-group-addon{
        border-top: none;
        border-radius: 0 0 0 8px;
      }
    }
  }
}

.container-full {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.c-btn{
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 22px;
}

.custom-modal{
  .modal-dialog{
    margin-top: 70px;
  }
  .modal-content{
    border-radius: 12px;
  }
  .modal-header{
    border-radius: 8px 8px 0px 0px;
    background: #0165a6;
    color: #fff;
  }
}

.custom-backdrop{

}
