<div class="centered-panel distribute-panel custom-form">
    <form ng-submit="submit()">
        <div class="form-group">
            <h2 class="text-right">
                Distribute your vacancy to all subscribers
            </h2>
        </div>
        <div class="vertical-input-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="model.category" ng-options="item for item in categories" required>
                    <option value="" disabled>Select category</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="model.city" ng-options="item for item in cities" required>
                    <option value="" disabled>Select city</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-signal" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="model.salaryRange" ng-options="item as item.title for item in salaries" required>
                    <option value="" disabled>Salary</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="email" class="form-control" placeholder="Email" ng-model="model.email" required>
            </div>
        </div>
        <button class="btn btn-danger pull-right c-btn" type="submit">Add vacancy and distribute</button>
    </form>
</div>