<form ng-submit="saveChanges()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()">&times;</button>
        <h4 class="modal-title"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Distribute vacancy</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Company name *" required ng-model="model.company">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Vacancy title *" required ng-model="model.title">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" step="any" placeholder="Salary (not required)" required ng-model="model.salary">
        </div>
        <div class="form-group">
            <div text-angular ng-model="model.description" placeholder="Vacancy description. Please do not forget to enter Requirements, Responsibilities and Conditions"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info">Send</button>
        <button type="button" class="btn btn-danger" ng-click="dismiss()">Cancel</button>
    </div>
</form>